$clr-primary-red: hsl(0, 100%, 74%);
$clr-primary-green: hsl(154, 59%, 51%);

$clr-accent-blue: hsl(248, 32%, 49%);

$clr-neutral-darkblue: hsl(249, 10%, 26%);
$clr-neutral-grayishblue: hsl(246, 25%, 77%);